/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body
{
  padding-top: 50px;
  background-color:  #f2e6f6;
}


/*
 * Global add-ons
 */

.sub-header
{
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top
{
  border: 0;
}
.navbar
{
  background-image: radial-gradient(circle, #002933,#0059b3, #002933);
}
.navbar-header h3
{
  font-family: 'Oswald', sans-serif;
  font-size: 27px;
  margin: 10px;
  color: #0000e6;
}
.navbar-header span
{
  font-size: 27px;
  color: #f2f2f2;
}
.navbar-collapse ul
{
  float: right;
  margin: 3px;
  list-style: none;
}
.navbar-collapse ul li
{
  float: left;
  position: relative;
}
.navbar-collapse ul li a
{
  display: block;
  margin: 0px;
  padding: 13px;
  font-size: 18px;
  text-decoration: none;
}
/*
 * Sidebar
 */

.sidebar
{
    width: 200px;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-image: linear-gradient(to bottom right, #0059b3, #66b3ff);
}


/* Sidebar navigation */
.sidebar .page-header
{
  font-size: 45px;

  font-family: 'Tenali Ramakrishna', sans-serif;
}
.nav-sidebar
{
  margin-right: -21px;/*  20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a
{
  padding-right: 20px;
  padding-left: 50px;
}
.nav-sidebar ul li a
{
  background-color: transparent;
  color: white;
  border: none;
}
..nav-sidebar > .active > a
{
  background-color: red;
  color: white;
}
.nav-sidebar ul li a:hover
{
  background: #f5f5f0;
}
.nav-sidebar > .active > a:focus
{
  color: #fff;
  background-color: transparent;
}
.nav-sidebar a
{
  display: none;
}

.row img
{
  border-radius: 50%;
}


.main
{
  padding: 20px;
  margin-top: 2px;
  width: 80%;
}



.card 
{
    float: right;
    background-color: transparent;
    width: 400px;
    height: 360px;
    margin-top: 50px;
    margin-right: 420px;
    perspective: 1000px;
}
.card-inner {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front {
    background-image: url('https://image.freepik.com/free-vector/abstract-background-with-a-watercolor-texture_1048-2144.jpg');
    background-color: #4668e3;
    background-blend-mode: lighten;
    color: black;
}

.card-front h1{
  margin-top: 120px;
}

.card-back {
    background-image: url('https://media.istockphoto.com/photos/notepad-open-with-white-blank-page-for-writing-idea-or-todo-list-a-picture-id867672394?k=6&m=867672394&s=612x612&w=0&h=I6aKquFSaiNTdhqjxgcfhRDY5mmaPjU8qnmoCBaVnug=');
    background-size: cover;
    background-color: #7e92ed;
    transform: rotateY(180deg);
    background-blend-mode: lighten;
}


.card-back h1{
    align: left;
    margin-top: 58px;
    width: 200px;
    height: 40px;
    margin-left: 60px;
    align: center;
}

.card-back .content
{
    margin-left: 60px;
    align: center;
    overflow: auto;
    width: 200px;
    height: 168px;
}
.card-back .content h6
{
  font-size: 15px;
}
.card-back h5{
    margin-left: 60px;
    width:120px;
}

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.intention
{
  margin-left: 120px;

}
.intention h2
{
  font-size: 30px;
  text-align: center;
  color: blue;
  margin-bottom: 50px;
  margin-left: -120px;
  font-family: 'Oswald', sans-serif;
  width: 100%;
}


@media only screen and (max-width: 1500px)
{
  .card
  {
    margin-right: 360px;

  }
}
@media only screen and (max-width: 1400px)
{
  .card
  {
    margin-right: 300px;
  }
}
@media only screen and (max-width: 1300px)
{
  .main button
  {
    margin-left: 80px;
  }
  .card
  {
    margin-right: 280px;
  }
  .intention h2
  {
    margin-left: -10px;
  }
}  
@media only screen and (max-width: 1100px)
{
  .card
  {
    margin-right: 200px;
  }
}
@media only screen and (max-width: 1000px)
{
  .intention
  {
    margin-left: -10px;
  }
}
@media only screen and (max-width: 860px)
{
  .row
  {
    margin-top: 15px;
  }
  .sidebar
  {
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0px;
    overflow: visible;
    margin-top: -2px;
  }
  .row img
  {
    display: none;
  }
  .sidebar .page-header
  {
    font-size: 30px;
    border: none;
    padding:0px;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-family: 'Tenali Ramakrishna', sans-serif;
  }
  .nav-sidebar
  {
    width: 100%;
    background-color: black;
    margin: 0px;
    height: 41px;
    padding: 0px;
    margin-top: -3px;
  }
  .nav-sidebar ul
  {
    padding: 0px;
    margin: 0px;
    height: 41px;
    width: 100%;
    margin-top: 0px;
    background-color: black;
    list-style: none;
  }
  .nav-sidebar ul li
  {
    padding: 0px;
    text-align: center;
    padding: 1px;
    margin-top: 0px;
    width: 20%;
    float: left;
  }
  .nav-sidebar ul li a
  {
    background-color: transparent;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 12px;
    margin: 0px;
    border: 1px solid black;
  }
  .nav-sidebar ul li a i
  {
    display: none;
  }
  .nav-sidebar ul li a:hover
  {
    background: transparent;
  }

  .main
  {
    width: 100%;
    margin: 0px;
    margin-top: 80px;
  }
  .intention
  {
    margin: 0px;
  }
  .intention h2
  {
    font-size: 20px;
    width: 60%;
    margin-top: -20px;
  }
  
}
@media only screen and (max-width: 530px)
{

  .nav-sidebar ul li a
  {
    background-color: transparent;
    color: white;
    font-size: 8px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
  }
  .main .content-active
  {
    float: none;
    width: 80%;
    margin-left: 60px;
    margin-bottom: 30px;
  }
  .main .content-archive
  {
    width: 80%;
    float: none;
    margin-left: 60px;
  }
}
