*
{
	box-sizing: border-box;
}
body 
{
  padding: 0px;
  margin: 0px;
  background-color:  #e6f2ff;
}
.navbar 
{
	background-image: radial-gradient(circle, #002933,#0059b3, #002933);
	height: 72px;
}
.navbar *
{
	color: white;
}
.navbar .logo 
{
	float: left;
	margin: 0px;
	margin-left: 20px;
	height: inherit;
}
.navbar .logo h3
{
	padding: 10px;
	font-family: 'Oswald', sans-serif;
  	font-size: 27px;
  	color: #0000e6;
  	margin: 8px;
}
.navbar .logo span
{
  font-size: 27px;
  color: #f2f2f2;
}
.navbar ul
{
	float: right;
  	margin: 0px;
  	list-style: none;
  	margin: 0px;
}
.navbar ul li
{
	float: left;
  	margin: 8px;
}
.navbar ul li a
{
	display: block;
	margin: 0px;
	padding: 13px;
	font-size: 18px;
	text-decoration: none;
	color: white;
}
.navbar ul li a:hover
{
	background: grey; 
	margin-top: -8px;
	padding: 10px;
	height: 71px;
}
.content h1
{
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size: 100px;
	color: #330000;
	margin: 90px;
}
.content p
{
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size: 30px;
	margin-top: 30px;
	color: #330000;
	text-align: center;
}

@media only screen and (max-width: 650px)
{
	.navbar ul
	{
		width: 100%;
		background-color: #005266;
		transform: translate(0%, -1px);
	}
	.navbar ul li a:hover
	{
		background: transparent; 
	}		
	.content h1
	{
		font-family: 'Tenali Ramakrishna', sans-serif;
		font-size: 50px;
		color: #330000;
		margin: 90px;
	}
	.content p
	{
		font-family: 'Tenali Ramakrishna', sans-serif;
		font-size: 30px;
		margin-top: 30px;
		color: #330000;
		text-align: center;
	}
}
@media only screen and (max-width: 350px)
{
	.navbar ul
	{
		width: 100%;
		background-color: #005266;
		transform: translate(0%, -1px);
	}
	.navbar ul li a:hover
	{
		background: transparent; 
	}		
	.content h1
	{
		font-family: 'Tenali Ramakrishna', sans-serif;
		font-size: 27px;
		color: #330000;
		margin: 90px;
	}
	.content p
	{
		font-family: 'Tenali Ramakrishna', sans-serif;
		font-size: 20px;
		margin-top: 30px;
		color: #330000;
		text-align: center;
	}
}