{% extends "bootstrap/base.html" %}

{% block title %}
Work TO-DO
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='personal.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <center><h3><span>Schedule</span>It</h3></center>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a  href="#">
                <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
                Settings
                <i class="fa fa-chevron-down fa-fw" aria-hidden="true"></i>
              </a>
              <ul>
                <li><a href="{{ url_for('logout') }}">Change Username</a></li>
                <li><a href="{{ url_for('logout') }}">Change Password</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
              </ul>
            </li>
            <!--<form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>
            -->
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class=" sidebar">
          <div class="image img-cir img-120">
            <center>
              <img src="{{url_for('static', filename='user-icon.jpg')}}" width="250" height="200" class="img-responsive"/>
            </center>
            <center>
              <h1 class="page-header">{{ name }}</h1>
            </center>
          </div>
          <div>
            <div class="nav nav-sidebar">
              <a href="#">
                    Options
                <i class="fa fa-chevron-down fa-fw" aria-hidden="true"></i>
              </a>
              <ul class="nav nav-sidebar">
                <li >
                  <a class="list-group-item" href="{{ url_for('dashboard') }}">
                    &nbsp;<i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp; DASHBOARD
                  </a>
                </li>
                <li>
                  <a class="list-group-item" href="{{ url_for('personaltask') }}">
                    <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; PERSONAL
                  </a>
                </li>
                <li>
                  <a class="list-group-item" href="#">
                    <i class="fa fa-tasks fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; WORK
                  </a>
                </li>
                <li>
                  <a class="list-group-item" href="{{ url_for('othertask') }}">
                    <i class="fa fa-caret-square-o-down fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; OTHERS
                  </a>
                </li>
                <li>
                  <a class="list-group-item" href="{{ url_for('addtask') }}">
                    <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; ADD TASK
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          	<center><h1>Work TO-DO List</h1></center>
            <div>
            	<table>
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                    <th>Priority</th>
                    <th>Status</th>
                  </tr>
                </thead>
            		<tbody>
              		{% for task in tasks %}
              			{% if task.WorkType == "Work"%}
              				<tr>
    		          			<td>{{task.title}}</td>
    		          			<td>{{task.date}}</td>
    		          			<td>{{task.priority}}</td>
                        <td>status</td>
                        <td><a href="{{ url_for('update_task', task_id=task.id) }}">Update</a></td>
    		          		</tr>
                      <tr class="spacer">
                      <tr>
    		          	{% endif %}
    		        {% endfor %}
              </tbody>
            	</table>
            </div>
        </div>
      </div>
    </div>

{% endblock %}
